*.pkl
*.h5
*.pyc
*.pkl
*.html
*.pth
*.pt
*.out
*.jpeg
*.jpg
*.jar
*.gz
*.zip
TODO.txt

archive
data/anns/*
data/embeds/*.pt
data/images/*
.idea
results/*
logs
scripts
.vscode
wandb
clip_checkpoints

# extra careful/specific for big files 
data/refcoco+_train.jsonl  
clip_checkpoints/*

model/listeners/reclip/clevr-dataset-gen
model/listeners/reclip/UNITER
model/listeners/reclip/UniDet
model/listeners/reclip/requirements.txt
model/listeners/reclip/README.md
model/listeners/reclip/LICENSE.md
model/listeners/reclip/pytorch_grad_cam
